:host {
  display: contents;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-nav-link {
  text-transform: capitalize;
  letter-spacing: .1rem;
  color: rgba(0, 0, 0, 0.137);

  &:hover {
    background: linear-gradient(60deg, rgba(242, 7, 15, 0.1), rgba(120, 2, 255, 0.1));
  }
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.342);
}

.active-link {
  background: linear-gradient(60deg, rgba(242, 7, 15, 0.1), rgba(120, 2, 255, 0.1));
}
