:host {
  display: contents;
}

.windowComponent {
  width: min(100%, 40rem);
  margin-inline: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: .5rem;
  transition: transform .15s linear;
  &:hover {
    transform: translateY(-1rem);
  }

  .windowComponent-title {
    text-transform: capitalize;
    padding: .5rem;
    color: black;
    font-size: var(--font-base);
    letter-spacing: .1rem;
    margin: 0;
  }

  .windowComponent-content {
    background-color: black;
    padding: 1rem;
    display: grid;
    place-content: center;
    min-height: 15rem;
  }
}
