<section class="ScrollCarousel">
  <div class="ScrollCarousel-wrapSticky">
    <div class="ScrollCarousel-wrap">
      <h2 class="ScrollCarousel-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
      <img class="ScrollCarousel-image" src="/assets/free.jpeg" alt="s">
      <img class="ScrollCarousel-image" src="/assets/free.jpeg" alt="s">
      <img class="ScrollCarousel-image" src="/assets/free.jpeg" alt="s">
    </div>
  </div>
</section>
