:host {
  display: contents;
  --card-background: #272727;
}

.card {
  /* display: flex; */
  /* align-items: flex-start;
  flex-wrap: wrap; */
  padding: 50px 0;
  &:where(.car-title, .card-extraData):hover {
    color: var(--card-background, #272727);
  }
}

.card-content {
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: .5rem;
}

.card-link {
  display: block;
  padding: 30px 20px;
  background-color: var(--card-background, #272727);
  overflow: hidden;
  position: relative;
}

.card-link:hover,
.card-link:hover .card-number {
  text-decoration: none;
  color: #FFF;
}

.card-link:hover .card-background {
  transform: scale(15);
}

.card-title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: var(--font-lg, 1.9rem);
  letter-spacing: .1rem;
  color: #FFF;
  z-index: 2;
  position: relative;
  text-transform: capitalize;
}

.card-extraData {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: relative;
}

.card-number {
  font-weight: bold;
  color: #f9b234;
  transition: color .5s ease
}

.card-background {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all .5s ease;
}

@media only screen and (max-width: 979px) {
  .card-content {
    flex-basis: calc(50% - 30px);
  }
  .card-title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 639px) {
  .card-content {
    flex-basis: 100%;
  }
  .card-title {
    min-height: 72px;
    line-height: 1;
    font-size: 24px;
  }
  .card-link {
    padding: 22px 40px;
  }
  .card-extraData {
    font-size: 16px;
  }
}
