<section class="PresentationSection">
  <div class="PresentationSection-content">
      <h2 class="PresentationSection-title">
          <span class="PresentationSection-action">Crea</span>
          <span class="PresentationSection-action">Comparte</span>
          <span class="PresentationSection-action PresentationSection-action--highlight">
              ¡Construye en comunidad!
          </span>
      </h2>
      <p class="PresentationSection-description">With CSS view-timeline</p>
  </div>
</section>
