<section class="notFound">
  <div class="notFound-imgWrapper">
    <img  class="notFound-img"
      ngSrc="https://www.dropbox.com/scl/fi/eonl72ko0r9cp0fbiuorb/404.webp?rlkey=t3in2oil3sb6l3bdhe4j7ap3x&raw=1"
      alt="error img"
      fill
      priority
    />
  </div>
  <h1 class="notFound-title">
    NOT FOUND
  </h1>
  <p class="notFound-description">
    The route you want to access does not exist:
    <span class="notFound-urlData">
      {{ url }}
    </span>
  </p>
  <app-btn-gradient routerLink="" />
</section>
